#container {
  width: fit-content;
  height: 50px;
  background-color: lightblue;
  display: flex;
}

.box {
  height: 20px;
  width: 20px;
  padding: 1em;
  border: 1px dashed black;
  background-color: yellow;
}
